.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .card-Democratic {
    border: 1px solid #415695 !important;
    border-top: 10px solid #415695 !important;
  }
  .card-Republican {
    border: 1px solid #bd3d3c !important;
    border-top: 10px solid #bd3d3c !important;
  }
  .card-Independent {
    border: 1px solid #666666 !important;
    border-top: 10px solid #666666 !important;
  }
  .card-Libertarian {
    border: 1px solid #C8CF00 !important;
    border-top: 10px solid #C8CF00 !important;
  }
  .card-Green {
    border: 1px solid #17C70E !important;
    border-top: 10px solid #17C70E !important;
  }